In [1]:
# Importing required Libraries
import sqlalchemy
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///dataAdult.db', echo=True)
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker

In [2]:
# Creating a base class as Adult table
class Adult(Base):    
    __tablename__='sqladb'
    __table_args__ = {'extend_existing': True} 
    extend_existing=True
    age=Column(Integer)
    workclass=Column(String)
    fnlwgt=Column(Integer,primary_key=True)
    education=Column(String)
    education_num =Column(Integer)
    marital_status=Column(String)
    occupation =Column(String)
    relationship =Column(String)
    race =Column(String)
    sex =Column(String)
    capital_gain =Column(Integer)
    capital_loss  =Column(Integer)
    hours_per_week =Column(Integer) 
    native_country =Column(String)
    label =Column(String)

Adult.__table__

Base.metadata.create_all(engine)
session = sessionmaker()
session.configure(bind=engine)
s = session()
try:
    data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",sep=",\s",header=None,engine='python')
    count=0
    for index, ad in data.iterrows():
        adult_row = Adult1(age=ad['age'],workclass=ad['workclass'],fnlwgt=ad['fnlwgt'],education=ad['education'],education_num=ad['education_num'],marital_status=ad['marital_status'],occupation=ad['occupation'],relationship=ad['relationship'],race=ad['race'],sex=ad['sex'],capital_gain=ad['capital_gain'],capital_loss=ad['capital_loss'],hours_per_week=ad['hours_per_week'],native_country=ad['native_country'],label=ad['label'])
        s.add(adult_row)
except:
    s.rollback() 
finally:
    s.close()

2019-02-18 19:12:45,430 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-02-18 19:12:45,431 INFO sqlalchemy.engine.base.Engine ()
2019-02-18 19:12:45,433 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-02-18 19:12:45,434 INFO sqlalchemy.engine.base.Engine ()
2019-02-18 19:12:45,436 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("sqladb")
2019-02-18 19:12:45,437 INFO sqlalchemy.engine.base.Engine ()

In [3]:
##2 Update Queries
##update all asian-pac_islander to white_asian
from sqlalchemy import update
from sqlalchemy import and_, or_, not_
stmt = update(Adult).where(Adult.race=='Asian-Pac-Islander').values(race='white_asian')
engine.execute(stmt)
## update salary off all employee who works in india for more than 50 hours.perweek
stmt = update(Adult).where(and_(Adult.native_country=='India',Adult.hours_per_week>50)).values(label='>50K')
engine.execute(stmt)

2019-02-18 19:17:25,396 INFO sqlalchemy.engine.base.Engine UPDATE sqladb SET race=? WHERE sqladb.race = ?
2019-02-18 19:17:25,398 INFO sqlalchemy.engine.base.Engine ('white_asian', 'Asian-Pac-Islander')
2019-02-18 19:17:25,400 INFO sqlalchemy.engine.base.Engine COMMIT
2019-02-18 19:17:25,403 INFO sqlalchemy.engine.base.Engine UPDATE sqladb SET label=? WHERE sqladb.native_country = ? AND sqladb.hours_per_week > ?
2019-02-18 19:17:25,404 INFO sqlalchemy.engine.base.Engine ('>50K', 'India', 50)
2019-02-18 19:17:25,406 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
##2 Delete Queries
#delete all rows with no workclass
from sqlalchemy import delete
stmt_del=delete(Adult).where(Adult.workclass=='?')
engine.execute(stmt_del)

#delete all row where private employee work less than 2 hour in week
stmt_del=delete(Adult).where(and_(Adult.workclass=='Private',Adult.hours_per_week<2))
engine.execute(stmt_del)

2019-02-18 19:17:37,157 INFO sqlalchemy.engine.base.Engine DELETE FROM sqladb WHERE sqladb.workclass = ?
2019-02-18 19:17:37,159 INFO sqlalchemy.engine.base.Engine ('?',)
2019-02-18 19:17:37,161 INFO sqlalchemy.engine.base.Engine COMMIT
2019-02-18 19:17:37,164 INFO sqlalchemy.engine.base.Engine DELETE FROM sqladb WHERE sqladb.workclass = ? AND sqladb.hours_per_week < ?
2019-02-18 19:17:37,165 INFO sqlalchemy.engine.base.Engine ('Private', 2)
2019-02-18 19:17:37,167 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
##4 Filter Queries
#find education for all male who work in private sector
private_male_education = s.query(Adult).filter(and_(Adult.workclass=='Private',Adult.sex=='Male')).all()
for row in private_male_education:
    print("\n",row.education)

2019-02-18 19:17:44,535 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-02-18 19:17:44,538 INFO sqlalchemy.engine.base.Engine SELECT sqladb.age AS sqladb_age, sqladb.workclass AS sqladb_workclass, sqladb.fnlwgt AS sqladb_fnlwgt, sqladb.education AS sqladb_education, sqladb.education_num AS sqladb_education_num, sqladb.marital_status AS sqladb_marital_status, sqladb.occupation AS sqladb_occupation, sqladb.relationship AS sqladb_relationship, sqladb.race AS sqladb_race, sqladb.sex AS sqladb_sex, sqladb.capital_gain AS sqladb_capital_gain, sqladb.capital_loss AS sqladb_capital_loss, sqladb.hours_per_week AS sqladb_hours_per_week, sqladb.native_country AS sqladb_native_country, sqladb.label AS sqladb_label
FROM sqladb
WHERE sqladb.workclass = ? AND sqladb.sex = ?
2019-02-18 19:17:44,539 INFO sqlalchemy.engine.base.Engine ('Private', 'Male')

In [6]:
#find all people income working in private sector below age 18
private_below_18=s.query(Adult).filter(Adult.age<18)
for row in private_below_18:
    print(row.label)

2019-02-18 19:17:49,928 INFO sqlalchemy.engine.base.Engine SELECT sqladb.age AS sqladb_age, sqladb.workclass AS sqladb_workclass, sqladb.fnlwgt AS sqladb_fnlwgt, sqladb.education AS sqladb_education, sqladb.education_num AS sqladb_education_num, sqladb.marital_status AS sqladb_marital_status, sqladb.occupation AS sqladb_occupation, sqladb.relationship AS sqladb_relationship, sqladb.race AS sqladb_race, sqladb.sex AS sqladb_sex, sqladb.capital_gain AS sqladb_capital_gain, sqladb.capital_loss AS sqladb_capital_loss, sqladb.hours_per_week AS sqladb_hours_per_week, sqladb.native_country AS sqladb_native_country, sqladb.label AS sqladb_label
FROM sqladb
WHERE sqladb.age < ?
2019-02-18 19:17:49,929 INFO sqlalchemy.engine.base.Engine (18,)

In [7]:
## function queries
from sqlalchemy import func
private_male_avg_hour = s.query(func.avg(Adult.hours_per_week)).filter(and_(Adult.workclass=='Private',Adult.sex=='Male')).all()
print(private_male_avg_hour)

2019-02-18 19:17:53,620 INFO sqlalchemy.engine.base.Engine SELECT avg(sqladb.hours_per_week) AS avg_1
FROM sqladb
WHERE sqladb.workclass = ? AND sqladb.sex = ?
2019-02-18 19:17:53,621 INFO sqlalchemy.engine.base.Engine ('Private', 'Male')
[(None,)]

In [9]:
#minimum age by sector
min_age=s.query(func.min(Adult.age).label('min_a')).group_by(Adult.workclass).all()
print(min_age[0].min_a)

2019-02-18 19:18:11,410 INFO sqlalchemy.engine.base.Engine SELECT min(sqladb.age) AS min_a
FROM sqladb GROUP BY sqladb.workclass
2019-02-18 19:18:11,411 INFO sqlalchemy.engine.base.Engine ()

IndexError: list index out of range